In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bowen,AU,2022-07-09 01:30:42,-20.0167,148.2333,67.17,59,0,6.89
1,1,Kaitangata,NZ,2022-07-09 01:30:42,-46.2817,169.8464,43.84,87,100,17.98
2,2,Bathsheba,BB,2022-07-09 01:30:42,13.2167,-59.5167,81.21,91,40,19.57
3,3,Norman Wells,CA,2022-07-09 01:30:43,65.2820,-126.8329,84.24,28,75,10.36
4,4,Carnarvon,AU,2022-07-09 01:30:43,-24.8667,113.6333,69.44,33,0,9.95

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Bathsheba,BB,2022-07-09 01:30:42,13.2167,-59.5167,81.21,91,40,19.57
3,3,Norman Wells,CA,2022-07-09 01:30:43,65.2820,-126.8329,84.24,28,75,10.36
5,5,Tangping,CN,2022-07-09 01:30:43,22.0265,111.9323,86.11,72,50,4.34
7,7,Najran,SA,2022-07-09 01:30:44,17.4924,44.1277,83.05,52,100,12.26
10,10,Kapaa,US,2022-07-09 01:30:45,22.0752,-159.3190,85.98,68,20,14.97
21,21,Vaini,TO,2022-07-09 01:30:48,-21.2000,-175.2000,78.96,73,40,9.22
25,25,Arrecife,ES,2022-07-09 01:30:49,28.9630,-13.5477,75.18,73,0,12.66
26,26,Sedalia,US,2022-07-09 01:30:49,38.7045,-93.2283,85.71,70,0,5.99
32,32,Pochutla,MX,2022-07-09 01:30:50,15.7432,-96.4661,82.81,89,47,4.07
33,33,Axim,GH,2022-07-09 01:30:51,4.8699,-2.2405,75.52,88,83,11.36

In [17]:
preferred_cities_df.count()

City_ID       206
City          206
Country       206
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2      Bathsheba      BB     81.21  13.2167  -59.5167
3   Norman Wells      CA     84.24  65.2820 -126.8329
5       Tangping      CN     86.11  22.0265  111.9323
7         Najran      SA     83.05  17.4924   44.1277
10         Kapaa      US     85.98  22.0752 -159.3190
21         Vaini      TO     78.96 -21.2000 -175.2000
25      Arrecife      ES     75.18  28.9630  -13.5477
26       Sedalia      US     85.71  38.7045  -93.2283
32      Pochutla      MX     82.81  15.7432  -96.4661
33          Axim      GH     75.52   4.8699   -2.2405

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [23]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Bathsheba,BB,81.21,13.2167,-59.5167,Atlantis Hotel
3,Norman Wells,CA,84.24,65.2820,-126.8329,Heritage Hotel
5,Tangping,CN,86.11,22.0265,111.9323,
7,Najran,SA,83.05,17.4924,44.1277,محمد هادي ال فطيح
10,Kapaa,US,85.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
21,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
25,Arrecife,ES,75.18,28.9630,-13.5477,Hotel Lancelot
26,Sedalia,US,85.71,38.7045,-93.2283,Best Western State Fair Inn
32,Pochutla,MX,82.81,15.7432,-96.4661,Hotel Posada San Jose
33,Axim,GH,75.52,4.8699,-2.2405,Axim Beach Resort And Spa

In [25]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]